* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid rgba(128, 128, 128, 0.308); */
    
}



header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;
}

a {
    padding: 5px 10px;
    text-decoration: none;
}

a:hover, .active {
   
    background-color: black;
    color: white;
    border-radius: 5px;
}

main {
    height: calc(100vh - 60px);
}




.fila1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    

}

.fila1 section {
    width: 30%;
    text-align: center;
    background-color: blanchedalmond;
    padding: 10px;
}

.fila2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 300px;
    
}

.fila2 section {
    width: 30%;
    text-align: center;
    background-color: blanchedalmond;
    padding: 10px;
    
   
}

p {
    padding: 10px;
}

img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.fila2 .item1  {
    align-self: flex-start;
}

.fila2 .item2, .fila2 .item2   {
    align-self: center;
}


.fila2 .item4  {
    align-self: flex-end;
}

@media (max-width:900px) {

    body {
        width: 100%;
    }
    header {
        flex-direction: column;
        height: 80px;
        margin-bottom: 10px;
        justify-content: space-around;
    }

    nav a {
        padding-bottom: 10px;
    }

    .fila1 {
        flex-direction: column;
      }

    .fila1 section {
        width: 100%;
        margin-bottom: 10px;
    }

    .fila2 {
        flex-direction: column;
        gap: 10px;
      }

      img {
        width: 80%;
      }

    .fila2 section {
        width: 100%;
        margin-bottom: 10px;
    }

    .fila1 .item2 {
        order: -1;
    }

    .fila2 .item4 {
        order: -4;
    }

    .fila2 .item3 {
        order: -3;
    }

    .fila2 .item2 {
        order: -2;
    }

    .fila2 .item1 {
        order: -1;
    }

}